.body {
  margin: 0;
  padding: 0;
}

.navbar-items.active a {
  color: #5fb4a2;
}

.btn {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 17px 34px;
  color: #33323d;
  border: 1px solid #33323d;
  box-sizing: border-box;
  transition: 0.2s;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  background-color: #33323d;
}

/*projects*/

.projects {
  padding: 50px 0px;
}

.projects__list {
  padding: 0;
}

.projects__imgbox img {
  width: 100%;
  max-width: 540px;
  height: auto;
}

.projects__list li {
  margin: 0 0 80px 0;
}

.projects__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.projects__desc {
  padding: 0px 60px;
}

.projects__desc-inner {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.projects__line-start,
.projects__line-end {
  width: 100%;
  height: 1px;
  background-color: #33323d52;
  margin-bottom: 100px;
}

.projects__line-end {
  margin: 100px 0 0 0;
}

.projects__desc h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 28px;
  letter-spacing: -0.35px;
  font-family: var(--second-font);
}

.projects__desc p {
  font-size: 16px;
  line-height: 30px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 24px;
}

.projects__btn {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.contact__btn {
  text-decoration: none;
  display: inline-block;
  color: var(--text-color);
}

@media only screen and (max-width: 74.9em) /*1200px*/ {
  /*header*/

  .container {
    width: 96%;
  }
}

@media only screen and (max-width: 61.9em) /*992px*/ {
  .container {
    width: 92%;
  }

  /*projects__desc*/
  .projects__desc h3 {
    margin: 0;
  }

  .projects__desc {
    padding: 0 40px 0 40px;
  }

  .projects__list li {
    margin: 0 0 80px 0;
  }

  .projects__line-start,
  .projects__line-end {
    width: 100%;
    height: 1px;
    background-color: #33323d52;
    margin-bottom: 40px;
  }

  .projects__line-end {
    margin: 40px 0 0 0;
  }

  .projects__desc-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 47.9em) /*768px*/ {
  .container {
    width: 92%;
  }
}

@media only screen and (max-width: 35.9em) /*576px*/ {
  .container {
    width: 96%;
  }
}
